<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>

  </head>
  <body>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <div
      class="message {% if 'danger' in message %}danger-message{% elif 'success' in message %}success-message{% else %}info-message{% endif %}"
    >
      {{ message }}
    </div>
    {% endfor %} {% endif %} {% endwith %}
    <div class="profile-container">
      {% if session.logged_in %}
      <h1>Welcome to Your Profile, {{ passanger_name }}!</h1>
      <img
        class="profile-image"
        src="{{ url_for('uploaded_file', filename=photo_path.split('/')[-1]) }}"
        alt="Passanger Photo"
      />
      <div class="profile-info">
        <strong>Passenger Name:</strong> {{ passanger_name }}<br />
        <strong>Passenger ID:</strong> {{ passanger_id }}<br />
        <strong>Passenger DOB:</strong> {{ passanger_dob }}
      </div>
      <div class="profile-actions">
        <form
          method="get"
          action="{{ url_for('download_qr_code', filename=qr_code_path.split('/')[-1]) }}"
        >
          <input type="submit" value="Download QR Code" />
        </form>
        <form method="post" action="{{ url_for('delete_account') }}">
          <input type="submit" value="Delete Account" />
        </form>
        <form method="post" action="{{ url_for('logout') }}">
          <input type="submit" value="Logout" />
        </form>
      </div>
      {% else %}
      <h1>Please log in to view your profile.</h1>
      {% endif %}
    </div>
  </body>
</html>




