<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    
  </head>
  <body>
    <!-- Integrated flash messages for displaying notifications. -->
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <div
      class="message {% if 'danger' in message %}danger{% elif 'success' in message %}success{% else %}gray{% endif %}"
    >
      {{ message }}
    </div>
    {% endfor %} {% endif %} {% endwith %}

  </body>
</html>



